<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  </head>
  <body class="text-center">
    <style>
      html, body{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 10;
        background-image: url('../assets/images/book03.jpg');
      }
    </style>
    <app-navbar></app-navbar>

<div class="d-flex justify-content-center">
    <form class="form-signin"><br/><br/>
      <h1 class="h3 mb-3 font-weight-bold">Crie sua conta</h1><br/>
      
      <label for="inputName" class="sr-only">Nome</label>
      <input type="text" name="nome" class="form-control" placeholder="Nome:" >
      <label for="inputEmail" class="sr-only">E-mail:</label>
      <input type="text" name="email" class="form-control" placeholder="E-mail:" >
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="senha" class="form-control" placeholder="Senha:" required>
      <button class="btn btn-lg btn-primary btn-block">Cadastrar!</button><br/><br/>
      
    </form>
    <br/>
</div>
</body>    
</html>

