
<div class="d-flex justify-content-center">
    <form class="form-signin"><br/><br/>
      <h1 class="h3 mb-3 font-weight-bold">Faça login ou crie uma conta</h1><br/>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text" name="email" class="form-control" placeholder="E-mail:" >
      
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="senha" class="form-control" placeholder="Senha:" required>
      <button class="btn btn-lg btn-primary btn-block">Login</button><br/><br/>
      <a ><b>Não tem uma conta?</b></a> <a style="color:black" routerLink="/cad"><b>Crie uma agora!</b></a>  
      
    </form>
    
    <br/>
    

    
    
    

</div>